<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <div><%= message %></div>

    <div id="buttons-box">
      <button id="home-button">SEE LYRICS</button>
      <button id="logout-button">LOGOUT</button>
    </div>
    <%= message %>

    <script src="/js/home.js"></script>
  </body>
</html>
