<!DOCTYPE html>
<html>
  <head>
    <title>Genius for Spotify</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <div id="mainbody">
      <h1>Error</h1>
      <p><%= message %></p>
      <p>Make sure you are logged in.</p>
      <div id="buttons-box">
        <button id="home-button">GO HOME</button>
      </div>
    </div>

    <script src="/js/lyrics.js"></script>
  </body>
</html>
