<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <h1><%= message %></h1>
    <% if (loggedIn) { %>
    <p>You are logged in!</p>
    <% } else { %>
    <button id="login-button">Log in</button>
    <p>Please log in.</p>
    <% } %>
    <div id="buttons-box">
      <button id="lyrics-button">SEE LYRICS</button>
      <button id="logout-button">LOGOUT</button>
      <button id="login-button">LOGIN</button>
    </div>
    <script src="/js/home.js"></script>
  </body>
</html>
