<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <div id="mainbody">
      <h1><%= message %></h1>
      <div id="buttons-box">
        <% if (loggedIn) { %>
        <button type="button" id="lyrics-button">SEE LYRICS</button>
        <button type="button" id="logout-button">LOGOUT</button>
        <button type="button" id="refresh-button">REFRESH</button>
        <% } else { %>
        <button id="login-button">LOGIN</button>
        <% } %>
      </div>
    </div>

    <script src="/js/home.js"></script>
  </body>
</html>
