* {
  font-family: Roboto;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: auto;
  padding: 0;
  max-width: 70vw;
}

p {
  text-align: left;
  color: #000000;
}

.rg_embed {
  margin-left: 25vw;
}
