@font-face {
  font-family: "myNexa"; /*a name to be used later*/
  src: url("/fonts/NEXA LIGHT.TTF"); /*URL to font*/
  src: url("/fonts/NEXA BOLD.TTF"); /*URL to font*/
}

* {
  font-family: "myNexa";
}

body {
  background-image: url("/images/kappar.png");
}

#mainbody {
  background-color: #e6ff73;
  margin: 20vh auto;
  height: 200px;
  width: 400px;
  padding: 10px;
  box-shadow: 5px 10px;
}

h1 {
  color: #333;
  text-align: center;
  margin-top: 50px;
}

p {
  text-align: center;
  color: #666;
}

#buttons-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

button {
  border: 0px;
  background-color: rgb(255, 255, 255);
  font-weight: 700;
  padding: 10px;
  height: 40px;
  border-radius: 20px;
  border: 3px, solid, greenyellow;
}

#logout-button {
  background-color: #666;
}

button:hover {
  border: 3px, solid, #333;
}
